@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mulish:wght@200&family=Nunito:wght@200&family=Rubik:wght@300&family=Zen+Kurenaido&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-color: bisque;
    font-family:Arial, Helvetica, sans-serif;
}
nav .logo p{
    font-size: 30px;
    font-weight: bolder;
    float: left;
    color:black;    
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}

nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 30px;
    color: black;
    text-decoration: none;
}

nav li a:hover{
    color:rgb(32, 26, 26);
    transition: all 0.2s ease 0s;
    text-decoration: none;
    font-weight:600;
}

.menu{
    padding-left: 35rem;
}


.content img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.slides-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.slider{
  width:100%;
  height:100%;
  border-radius: 4px;
  overflow:hidden;
}

.slides{
  width: 500%;
  height: 600px;
  display: flex;
  
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 6s;
  
}

.slide img{
  width: 1366px;
  height:100%;
}

.first{
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-duration: 25s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.second{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center
    
}
.third{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center
}

@keyframes slide {
    0%{
        margin-left: 0;
    }
    16%{
        margin-left: 0;
    }
    32%{
        margin-left: -20%;
    }
    48%{
        margin-left: -20%;
    }
    64%{
        margin-left: -40%;
    }
    80%{
        margin-left: -40%;
    }
    100%{
        margin-left: 0;
    }
}
.logo img{
    height: 50px;
    width: 40px;
    border-radius: 5rem;
}
 
.footer{
    background-color:gray;
    width: 100%;
    height: 25vh;
}

.fo{
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    cursor: pointer;
}

li{
    list-style: none;
}

.icon img{
    height: 30px;
    width: 30px;
   
}

.icon{
    width: 100%;
    padding-left:45%;
}

.hh{
    height: 100%;
}
.search{
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

.menu img{
    width: 20px;
    height: 20px;
}

.menu button{
    line-height: 4vh;
    width: 35px;
    border-radius: 10rem;
    padding-bottom: 2px;
    border-color: rgb(17, 12, 5);
}

